<!DOCTYPE html>
<html>
<head>
  <title>ThomasJung</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body data-spy="scroll" data-target="#navscroller">

<nav class="navbar navbar-fixed-top" id="navtainer" role="navigation" style="width:300px; height:900px; background-color:black;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>   
      <ul class="nav nav-pills nav-stacked">
        <div style="text-align:center; border-radius:2px; padding-top:20px;padding-bottom:20px"><%= image_tag("avatar_thumb.jpg") %></div>
      </br>
        <li>
          <i class="fa fa-user pull-right" style="color:white;" id="nav-icon"></i>
          <%= link_to "Home", "#home", style:"color:white;" %>
            
        </li>
        <li>
          <i class="fa fa-pencil pull-right" style="color:white;" id="nav-icon"></i>
          <%= link_to 'About', '#about', style: 'color:white;' %>
        </li>
        <li>
          <i class="fa fa-phone pull-right" style="color:white;" id="nav-icon"></i>
          <%= link_to 'Contact', '#contact', style: 'color:white;' %>
        </li>
        
      </ul>
    </br>
  </br>
</br>
    <hr style="width:170px; margin-right:0px; border-color:#25b5f1;">
    <p style="color:white; font-family: 'Orbitron', sans-serif;" class="pull-right">© 2016 Thomas Jung.</p>
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>
